<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!--   responsiveness for phones we need this next meta tag-->
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
  <title>Home - Shop me admin</title>

  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/fontawesome/all.css"/>
  <link rel="stylesheet" type="text/css" href="/css/style.css"/>
  <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
  <style>
    .abutton:link {
      text-decoration: none;
    }
    .abutton:hover {
      text-decoration: underline;
    }
  </style>
</head>
<body>
<div class="container-fluid">
  <div>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
      <a class="navbar-brand" th:href="@{/homeAdmin}">
        <img th:src="@{/images/ShopmeAdminSmall.png}"/>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="topNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" th:href="@{/homeAdmin/users}">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/homeAdmin/categories}">Categories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/homeAdmin/brands}">Brands</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/homeAdmin/products}">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/homeAdmin/customers}">Customers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/homeAdmin/shipping}">Shipping</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/homeAdmin/orders}">Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/homeAdmin/report}">Sales Report</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/homeAdmin/articles}">Articles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/homeAdmin/menus}">Menus</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/homeAdmin/settings}">Settings</a>
          </li>

        </ul>
      </div>

    </nav>
  </div>
  <div>
    <h2>Manage users</h2>
    <a th:href="@{/homeAdmin/users/new}" class="fa-solid fa-user-plus fa-2x icon-dark removeHyperlink me-2"></a>

    <a th:href="@{/homeAdmin/users/export/csv}" class="fa-solid fa-file-csv fa-2x icon-dark removeHyperlink me-2"></a>

    <a th:href="@{/homeAdmin/users/export/excel}" class="fa-solid fa-file-excel fa-2x icon-dark removeHyperlink me-2"></a>

    <a th:href="@{/homeAdmin/users/export/pdf}" class="fa-solid fa-file-pdf fa-2x icon-dark removeHyperlink me-2"></a>

  </div>
  <div th:if="${message != null}" class="alert alert-success text-center">
    [[${message}]]
  </div>

<!--  search section-->
<div>
  <form th:action="@{/homeAdmin/users/page/1}" class="d-inline-flex m-3">
      <input type="hidden" name="sortField" th:value="${sortField}"/>
      <input type="hidden" name="sortDir" th:value="${sortDir}"/>

      Filter:&nbsp;
      <input type="search" name="keyword" th:value="${keyword}"  class="form-control" required/>
      &nbsp; &nbsp;
      <button type="submit"  class="btn btn-primary"> <i class="fas fa-search removeHyperlink"></i></button>
      &nbsp; &nbsp;
      <button type="button"  class="btn btn-secondary" onclick="clearFilter()"> <i class="fas fa-eraser removeHyperlink"> </i></button>
  </form>
</div>



<!--  _____________________________________________-->
  <div class="full-details">
    <table class="table table-bordered table-striped table-hover table-responsive-xl">
      <thead class="table-dark">
      <tr>
        <th class="hideable-column">
            <th th:replace="fragments :: column_link('id', 'User ID', 'tag' )" ></th>
        </th>
<!--        code before fragment-->
<!--        <th>-->
<!--          <a th:if="${sortField != 'id'}" class="text-white abutton"-->
<!--             th:href="@{'/homeAdmin/users/page/' + ${currentPage} + '?sortField=id&sortDir=' + ${sortDir} + ${keyword !=null ? '&keyword=' + keyword : '' }}"-->
<!--          > User ID-->
<!--          </a>-->
<!--          <a th:if="${sortField == 'id'}" class="text-white abutton "-->
<!--             th:href="@{'/homeAdmin/users/page/' + ${currentPage} + '?sortField=id&sortDir=' + ${reverseSortDir} + ${keyword !=null ? '&keyword=' + keyword : '' }}"-->
<!--          > User ID-->
<!--          </a>-->
<!--          <span th:if="${sortField == 'id'}"-->
<!--                th:class="${sortDir == 'asc'  ? 'fas fa-sort-up' : 'fas fa-sort-down'} "></span>-->
<!--        </th>-->

        <th>Photos</th>
        <th class="hideable-column">
            <th th:replace="fragments :: column_link('email', 'E-mail', 'tag')" ></th>
        </th>
<!--        <th>-->
<!--          <a th:if="${sortField != 'email'}" class="text-white abutton"-->
<!--             th:href="@{'/homeAdmin/users/page/' + ${currentPage} + '?sortField=email&sortDir=' + ${sortDir} + ${keyword !=null ? '&keyword=' + keyword : '' }}"-->
<!--          > Email-->
<!--          </a>-->
<!--          <a th:if="${sortField == 'email'}" class="text-white abutton "-->
<!--             th:href="@{'/homeAdmin/users/page/' + ${currentPage} + '?sortField=email&sortDir=' + ${reverseSortDir} + ${keyword !=null ? '&keyword=' + keyword : '' }}"-->
<!--          > Email-->
<!--          </a>-->
<!--          <span th:if="${sortField == 'email'}"-->
<!--                th:class="${sortDir == 'asc'  ? 'fas fa-sort-up' : 'fas fa-sort-down'} "></span>-->
<!--        </th>-->
        <th th:replace="fragments :: column_link('firstName', 'First Name', 'none')" ></th>
        <th th:replace="fragments :: column_link('lastName', 'Last Name', 'none')" ></th>

        <th>Roles</th>

        <th th:replace="fragments :: column_link('enabled', 'Enabled', 'none')" ></th>
        <th></th>
      </tr>
      </thead>

      <tbody>
        <tr th:each="user: ${listUsers}">
          <td class="hideable-column">[[${user.id}]]</td>
          <td>
            <span th:if="${user.photos == null}" class="fa-solid fa-image-portrait fa-3x icon-silver"></span>
            <img th:if="${user.photos != null}" th:src="@{${user.photosImagePath}}"
            style="width: 100px"/>
          </td>
          <td class="hideable-column">[[${user.email}]]</td>
          <td>[[${user.firstName}]]</td>
          <td>[[${user.lastName}]]</td>
          <td>[[${user.roles}]]</td>

          <td>
              <a th:if="${user.enabled == true}" class="fas fa-check-circle fa-2x icon-green removeHyperlink"
                 th:href="@{'/homeAdmin/users/'+ ${user.id} + '/enabled/false'}"
              title="Disable this user"></a>
              <a th:if="${user.enabled == false}" class="fas fa-circle fa-2x icon-dark removeHyperlink"
                 th:href="@{'/homeAdmin/users/'+ ${user.id} + '/enabled/true'}"
                 title="Enable this user"></a>

          </td>

          <td>
            <a class="fa-solid fa-pen-to-square fa-2x icon-green removeHyperlink"
               th:href="@{'/homeAdmin/users/edit/' + ${user.id}}"
               title="Edit this user"></a>
            &nbsp;
            <a class="fa-solid fa-trash fa-2x icon-dark link-delete removeHyperlink"
               th:userId="${user.id}"
               th:href="@{'/homeAdmin/users/delete/' + ${user.id}}"
               title="Delete this user"></a>
            </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="less-details">
     <div th:each="user : ${listUsers}" class="row m-1">
        <div class="col-4">
          <span th:if="${user.photos == null}" class="fa-solid fa-image-portrait fa-3x icon-silver"></span>
          <img th:if="${user.photos != null}" th:src="@{${user.photosImagePath}}"
           style="width: 100px"/>
        </div>
       <div class="col-8">
         <div>[[${user.fullName}]]</div>
         <div>[[${user.roles}]]</div>
         <div class="mt-2">
           <a th:if="${user.enabled == true}" class="fas fa-check-circle fa-2x icon-green removeHyperlink"
              th:href="@{'/homeAdmin/users/'+ ${user.id} + '/enabled/false'}"
              title="Disable this user"></a>
           <a th:if="${user.enabled == false}" class="fas fa-circle fa-2x icon-dark removeHyperlink"
              th:href="@{'/homeAdmin/users/'+ ${user.id} + '/enabled/true'}"
              title="Enable this user"></a>
           &nbsp;
           <a class="fa-solid fa-pen-to-square fa-2x icon-green removeHyperlink"
              th:href="@{'/homeAdmin/users/edit/' + ${user.id}}"
              title="Edit this user"></a>
           &nbsp;
           <a class="fa-solid fa-trash fa-2x icon-dark link-delete removeHyperlink"
              th:userId="${user.id}"
              th:href="@{'/homeAdmin/users/delete/' + ${user.id}}"
              title="Delete this user"></a>
         </div>
       </div>
       <div>&nbsp;</div>
     </div>
  </div>



















<div class="text-center m-1" th:if="${totalItems > 0 }" >
  <span> Shoring users # [[${startCount}]] to [[${endCount}]] of [[${totalItems}]]</span>
</div>
  <div class="text-center m-1" th:unless="${totalItems > 0 }" >
    <span> No users found</span>
  </div>

  <div th:if="${totalPages > 1 }">
    <nav>
      <ul class="pagination justify-content-center flex-wrap">
        <li th:class=" ${currentPage > 1 ? 'page-item' : 'page-item disabled'} " >
          <a th:replace="fragments :: page_link(1, 'First')"></a>
<!--          <a class="page-link" th:href="@{'/homeAdmin/users/page/1?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword !=null ? '&keyword=' + keyword : '' }} ">First</a>-->
        </li>
        <li th:class=" ${currentPage > 1 ? 'page-item' : 'page-item disabled'} " >
          <a th:replace="fragments :: page_link(${currentPage - 1}, 'Previous')"></a>
<!--          <a class="page-link" th:href="@{'/homeAdmin/users/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword !=null ? '&keyword=' + keyword : '' }}">Previous</a>-->
        </li>

        <li th:class=" ${currentPage != i ? 'page-item' : 'page-item active'} "
            th:each="i : ${#numbers.sequence(1, totalPages)}">
          <a th:replace="fragments :: page_link(${i}, ${i})"></a>
<!--          <a class="page-link" th:href="@{'/homeAdmin/users/page/'+${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword !=null ? '&keyword=' + keyword : '' }}">[[${i}]]</a>-->
        </li>

        <li th:class=" ${currentPage < totalPages ? 'page-item' : 'page-item disabled'}" >
          <a th:replace="fragments :: page_link(${currentPage + 1}, 'Next')"></a>
          <!--          <a class="page-link" th:href="@{'/homeAdmin/users/page/'+${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword !=null ? '&keyword=' + keyword : '' }}">Next</a>-->
        </li>
        <li th:class=" ${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
          <a th:replace="fragments :: page_link(${totalPages}, 'Last')"></a>
          <!--          <a class="page-link" th:href="@{'/homeAdmin/users/page/'+${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword !=null ? '&keyword=' + keyword : '' }}">Last</a>-->
        </li>
      </ul>
    </nav>
  </div>

  <div class="modal fade text-center" id="confirmModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Delete Confirmation</h4>
          <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <span id="confirmText"></span>
        </div>
        <div class="modal-footer">
          <a class="btn btn-success" href="" id="yesButton">Yes</a>

          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>











      <div class="text-center">
        <p>Shop me Control panel - Copyright &copy; Shopme</p>
      </div>
    </div>
    <script type="text/javascript">
    $(document).ready(function (){
    $(".link-delete").on("click",function (e){
      e.preventDefault();
      link = $(this);
     // alert($(this).attr("href"));
      userId = link.attr("userId");
      $("#yesButton").attr("href",link.attr("href"));
      $("#confirmText").text("Are you sure you want to delete this user ID: "+userId+ "?");
      $("#confirmModal").modal('show');

    });
  });

    function clearFilter(){
      window.location="[[@{/homeAdmin/users}]]";
    }
</script>
</body>
</html>